{% extends 'clinica/baseclinica.html.twig' %}

{% block title %}Clinicas{% endblock %}

{% block content %}
{% include "alerts/message.html.twig" %}

<table class="table table-dark table-striped border border-black text-center mt-4">
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Acoes</th>
    </thead>
    <tbody>
        {% for registro in registros %}
            <tr>
                <td>{{ registro.nome }}</td>
                <td>{{ registro.email }}</td>
                <td>{{ registro.telefone }}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a href="{{path('app_atendimento_criar', {clinica: registro.id})}}" class="btn btn-sm btn-primary me-1" title="Atender">
                            A
                        </a>
                        <a href="{{path('app_clinica_editar', {id: registro.id})}}" class="btn btn-sm btn-primary" title="Editar">
                            E
                        </a>
                        <form action="{{path('app_clinica_remover', {id: registro.id})}}" method="POST">
                            <button class="btn btn-sm btn-danger ms-1" title="Remover">X</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
