{% extends 'logged.html.twig' %}

{% block title %}Clinicas{% endblock %}

{% block body %}
<div class="bg-dark text-white p-3 border border-black rounded-bottom">
    <div class="row align-items-start" style="height: {{altura_conteudo}};">
        <div class="col-2 bg-menu pt-3 me-2" style="height: 100%;">
            <h3 class="text-center">Menu</h3> <hr>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white {% if 'app_animal_home' == app.request.get('_route') %} active{% endif %}"
                    href="{{path('app_animal_home')}}">Animais</a>
            </nav>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white {% if 'app_animal_criar' == app.request.get('_route') %} active{% endif %}"
                    href="{{path('app_animal_criar')}}">Cadastrar animal</a>
            </nav>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white {% if 'app_responsavel_home' == app.request.get('_route') %} active{% endif %}"
                    href="{{path('app_responsavel_home')}}">Responsaveis</a>
            </nav>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-white {% if 'app_responsavel_criar' == app.request.get('_route') %} active{% endif %}"
                    href="{{path('app_responsavel_criar')}}">Cadastrar responsavel</a>
            </nav>
        </div>
        <div class="col bg-dark text-white p-3" style="height: 100%;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
